div
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 800px;
}
.secone
{
    background-color: red;
}

.sectwo
{
    background-color: blue;
}

.secthree span
{
    margin-left: 50px;
    background-color: #eee;
    padding: 50px;
}