body
{
    margin: 0;
}

.background
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random
{
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-weight: bold;
}